/FontIO.class
/SingletonHolder.class
/Singleton.class
/Singleton$Holder.class
/GlobalHolder$Holder.class
/GlobalHolder.class
/JFileChooserFactory.class
/JFileChooserFactory$FileType.class
/JFileChooserFactory$FileOperation.class
